target/
bin/
Test/
HelloWorld/
scala/hello1
scala/hello2
.build/
#*
*~
*.stackdump
*.exe
a.out
fontconfig/
*#
bazel-bin
bazel-c++
bazel-genfiles
bazel-out
bazel-testlogs
__pycache__
metastore_db
derby.log